<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="minsu.bms.query.dao.mapper.QueryMapper">
	<select id="queryList" resultType="query">
		select board_num boardNum, user_id userId, title, content, answer, separation, answer_state answerState, reporting_date reportingDate
		from boards
	</select>
	
	<select id="getQueryNum" parameterType="int" resultType="query">
		select board_num boardNum, user_id userId, title, content, answer, separation, answer_state answerState, reporting_date reportingDate
		from boards
		where board_num = #{boardNum}
	</select>
	
	<select id="getQueryId" parameterType="string" resultType="query">
		select board_num boardNum, user_id userId, title, content, answer, separation, answer_state answerState, reporting_date reportingDate
		from boards
		where user_id = #{userId}
	</select>
	
	<update id="updateQuery" parameterType="query">
		update boards set
		answer = #{answer},
		answer_state=#{answerState}
		where board_num = #{boardNum}
	</update>
	
	<delete id="delQuery" parameterType="int">
		delete boards where board_num = #{boardNum}
	</delete>
	
	<insert id="addQuery" parameterType="query">
		insert into boards values (
		boardnum_seq.nextval, #{userId}, #{title}, #{content}, #{answer,jdbcType=VARCHAR},
		#{separation}, #{answerState}, #{reportingDate})
	</insert>
</mapper>