<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="minsu.bms.purchase.dao.mapper.PurchaseMapper">
	<select id="purchaseList" resultType="purchase">
		select order_num orderNum, delivery_num deliveryNum, refund_num refundNum, user_id userId, book_code bookCood, order_date orderDate, destination, order_count orderCount
		from orders
	</select>
	
	<select id="getPurchase" parameterType="int" resultType="purchase">
		select order_num orderNum, delivery_num deliveryNum, refund_num refundNum, user_id userId, book_code bookCood, order_date orderDate, destination, order_count orderCount
		from orders
		where order_num = #{orderNum}
	</select>
	
	<delete id="delPurchase" parameterType="int">
		delete orders where order_num = #{orderNum}
	</delete>
	
	<insert id="addPurchase" parameterType="purchase">
		insert into orders values (
		#{orderNum}, #{deliveryNum}, #{refundNum}, #{userId}, #{bookCode}, #{orderDate}, #{destination}, #{orderCount})
	</insert>
	
	<update id="updatePurchase" parameterType="purchase">
		update orders set
		book_code=#{bookCode}, destination=#{destination}, order_count=#{orderCount}
		where order_num=#{orderNum}
	</update>
</mapper>