<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="minsu.bms.bookmanagement.dao.mapper.BookMapper">
	<select id="bookList" resultType="book">
		select book_code bookCode, book_name bookName, book_price bookPrice, writer,
			   company, publi_date publiDate, country, kind, inventory, sales_num salesNum,
			   book_intro bookIntro, contents, company_eval companyEval
		from books
	</select>
	
	<select id="getBook" parameterType="string" resultType="book">
		select book_code bookCode, book_name bookName, book_price bookPrice, writer,
			   company, publi_date publiDate, country, kind, inventory, sales_num salesNum,
			   book_intro bookIntro, contents, company_eval companyEval
		from books
		where book_code = #{bookCode}
	</select>
	
	<delete id="delBook" parameterType="string">
		delete books where book_code = #{bookCode}
	</delete>
	
	<insert id="addBook" parameterType="book">
		insert into books values (
		#{bookCode}, #{bookName}, #{bookPrice}, #{writer}, #{company},
		#{publiDate}, #{country}, #{kind}, #{inventory}, #{salesNum},
		#{bookIntro}, #{contents}, #{companyEval})
	</insert>
	
	<update id="updateBook" parameterType="book">
		update books set
		book_name=#{bookName}, book_price=#{bookPrice},
		writer=#{writer}, company=#{company}, publi_date=#{publiDate},
		country=#{country}, kind=#{kind}, inventory=#{inventory},
		book_intro=#{bookIntro}, contents=#{contents},
		company_eval=#{companyEval}
		where book_code=#{bookCode}
	</update>
</mapper>