<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="minsu.bms.search.dao.mapper.SearchMapper">
	<select id="searchBooks" parameterType="string" resultType="searchResult">
		select book_code bookCode, book_name bookName, book_price bookPrice, writer,
			   company, publi_date publiDate, country, kind, sales_num salesNum
		from books
		<where>
			<if test="searchOption.equals('bookTitle')">
				book_name like '%'||#{searchText}||'%'
			</if>
			<if test="searchOption.equals('writer')">
				writer like '%'||#{searchText}||'%'
			</if>
			<if test="searchOption.equals('company')">
				company like '%'||#{searchText}||'%'
			</if>
		</where>
<!-- 		
		<choose>
			<when test="orderOption.equals('sellCnt')">
				order by 
			</when>
			<when test="orderOption.equals('grade')">
				order by 
			</when>
			<when test="orderOption.equals('reviewCnt')">
				order by 
			</when>
			<when test="orderOption.equals('publishDate')">
				order by 
			</when>
			<when test="orderOption.equals('highPrice')">
				order by 
			</when>
			<when test="orderOption.equals('lowPrice')">
				order by 
			</when>
		</choose>
		 -->
	</select>
	
	<select id="getBook" parameterType="string" resultType="searchResult">
		select book_code bookCode, book_name bookName, book_price bookPrice, writer,
			   company, publi_date publiDate, country, kind, sales_num salesNum
		from books
		where book_code = #{bookCode}
	</select>
</mapper>